.App {
	text-align: center;
}

.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1536081905080-f14fb4d6e52d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1415&q=80);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}

.hero-title h1 {
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 100px;
	margin-top: 0px;
	padding-top: 10px;
	text-shadow: 4px 4px 4px #aaa;
}

.hero-title h2 {
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	margin-top: 250px;
}

nav {
	overflow: hidden;
	background-color: #A6A6A6;
}

.NavLinks {
	float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
	font-size: 20px;
  padding: 14px;
  text-decoration: none;
	font-family: 'Special Elite', sans-serif;
}

.point {
	display: inline-block;
	width: 33%;
}

.point-title {
	font-family: 'Special Elite', sans-serif;
	margin-bottom: 0px;
}

.point-description {
	margin-top: 5px;
}

.library a {
	text-decoration: none;
	color: black;
}

.album-section {
	border: 2px solid black;
	margin: 20px auto;
	display: flex;
	width: 70%;
}

.album-section img {
	height: 250px;
}

.album-info {
	text-align: left;
	margin: 40px auto auto 70px;
}

.album-info div {
	margin: 10px;
	font-size: 20px;
}

.album-info div:first-of-type {
	font-family: "Arial Black", Gadget, sans-serif;
	margin-bottom: 20px;
	font-size: 25px;
}

#song-list {
  justify-content: center;
  display: flex;
	margin-top: 15px;
}

#time-control {
	justify-content: center;
	display: flex;
}

#volume-control {
	justify-content: center;
	display: flex;
}
